pre,
.highlight {
  overflow: auto;
  margin: 20px 0;
  padding: 0;
  font-size: 14px;
  color: #4d4d4c;
  background: #f7f7f7;
  line-height: 1.6;
}
pre,
code {
  font-family: consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace;
}
code {
  padding: 2px 4px;
  word-wrap: break-word;
  color: #555;
  background: #eee;
  border-radius: 3px;
  font-size: 14px;
}
pre {
  padding: 10px;
}
pre code {
  padding: 0;
  color: #4d4d4c;
  background: none;
  text-shadow: none;
}
.highlight {
  border-radius: 1px;
}
.highlight pre {
  border: none;
  margin: 0;
  padding: 10px 0;
}
.highlight table {
  margin: 0;
  width: auto;
  border: none;
}
.highlight td {
  border: none;
  padding: 0;
}
.highlight figcaption {
  font-size: 1em;
  color: #4d4d4c;
  line-height: 1em;
  margin-bottom: 1em;
  margin: 0em;
  padding: 0.5em;
  background: #eee;
  border-bottom: 1px solid #e9e9e9;
}
.highlight figcaption a {
  float: right;
  color: #4d4d4c;
}
.highlight figcaption a:hover {
  border-bottom-color: #4d4d4c;
}
.highlight .gutter pre {
  padding-left: 10px;
  padding-right: 10px;
  color: #869194;
  text-align: right;
  background-color: #eff2f3;
}
.highlight .code pre {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f7f7f7;
}
.highlight .line {
  height: 20px;
}
.gutter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gist table {
  width: auto;
}
.gist table td {
  border: none;
}
pre .deletion {
  background: #fdd;
}
pre .addition {
  background: #dfd;
}
pre .meta {
  color: #8959a8;
}
pre .comment {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant,
pre .command {
  color: #f5871f;
}
pre .ruby .class .title,
pre .css .rules .attribute,
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata,
pre .special,
pre .number,
pre .formula {
  color: #718c00;
}
pre .title,
pre .css .hexcolor {
  color: #3e999f;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}
pre .keyword,
pre .javascript .function {
  color: #8959a8;
}
.header {
  background: transparent;
}
.header-inner {
  position: relative;
}
.headband {
  height: 3px;
  background: #222;
}
.site-meta {
  margin: 0;
  text-align: center;
mobile()
}
.brand {
  position: relative;
  display: inline-block;
  padding: 0 40px;
  color: #fff;
  background: #222;
  border-bottom: none;
}
.brand:hover {
  color: #fff;
}
.logo {
  display: inline-block;
  margin-right: 5px;
  line-height: 36px;
  vertical-align: top;
}
.site-title {
  display: inline-block;
  vertical-align: top;
  line-height: 36px;
  font-size: 20px;
  font-weight: normal;
  font-family: "PingFang SC", "Microsoft YaHei", sans-serif;
}
.site-subtitle {
  margin-top: 10px;
  font-size: 13px;
  color: #999;
}
.use-motion .brand {
  opacity: 0;
}
.use-motion .logo,
.use-motion .site-title,
.use-motion .site-subtitle {
  opacity: 0;
  position: relative;
  top: -10px;
}
.site-nav-toggle {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
mobile()
}
.site-nav-toggle button {
  margin-top: 2px;
  padding: 9px 10px;
  background: transparent;
  border: none;
}
.menu {
  margin-top: 20px;
  padding-left: 0;
  text-align: center;
}
.menu .menu-item {
  display: inline-block;
  margin: 0 10px;
  list-style: none;
}
@media screen and (max-width: 767px) {
  .menu .menu-item {
    margin-top: 10px;
  }
}
.menu .menu-item a {
  display: block;
  font-size: 13px;
  line-height: inherit;
  border-bottom: 1px solid transparent;
  transition-property: border-color;
}
.menu .menu-item a:hover {
  border-bottom-color: #222;
}
.menu .menu-item .fa {
  margin-right: 5px;
}
.use-motion .menu-item {
  opacity: 0;
}
.footer {
  font-size: 14px;
  color: #999;
}
.footer img {
  border: none;
}
.footer-inner {
  text-align: center;
}
#animate {
  animation: iconAnimate 1.33s ease-in-out infinite;
}
.with-love {
  display: inline-block;
  margin: 0 5px;
  color: user;
}
.powered-by,
.theme-info {
  display: inline-block;
}
.cc-license {
  margin-top: 10px;
  text-align: center;
}
.cc-license .cc-opacity {
  opacity: 0.7;
  border-bottom: none;
}
.cc-license .cc-opacity:hover {
  opacity: 0.9;
}
.cc-license img {
  display: inline-block;
}
@-moz-keyframes iconAnimate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.9);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.1);
  }
  50%, 70% {
    transform: scale(1.1);
  }
}
@-webkit-keyframes iconAnimate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.9);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.1);
  }
  50%, 70% {
    transform: scale(1.1);
  }
}
@-o-keyframes iconAnimate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.9);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.1);
  }
  50%, 70% {
    transform: scale(1.1);
  }
}
@keyframes iconAnimate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.9);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.1);
  }
  50%, 70% {
    transform: scale(1.1);
  }
}
.page-archive .archive-page-counter {
  position: relative;
  top: 3px;
  left: 20px;
mobile()
}
.page-archive .posts-collapse .archive-move-on {
  position: absolute;
  top: 11px;
  left: 0;
  margin-left: -6px;
  width: 10px;
  height: 10px;
  opacity: 0.5;
  background: #555;
  border: 1px solid #fff;
}
.category-all-page .category-all-title {
  text-align: center;
}
.category-all-page .category-all {
  margin-top: 20px;
}
.category-all-page .category-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.category-all-page .category-list-item {
  margin: 5px 10px;
}
.category-all-page .category-list-count {
  color: #bbb;
}
.category-all-page .category-list-count:before {
  display: inline;
  content: " (";
}
.category-all-page .category-list-count:after {
  display: inline;
  content: ") ";
}
.category-all-page .category-list-child {
  padding-left: 10px;
}
#schedule ul#event-list {
  padding-left: 30px;
}
#schedule ul#event-list hr {
  margin: 20px 0 45px 0 !important;
  background: #222;
}
#schedule ul#event-list hr:after {
  display: inline-block;
  content: 'NOW';
  background: #222;
  color: #fff;
  font-weight: bold;
  text-align: right;
  padding: 0 5px;
}
#schedule ul#event-list li.event {
  margin: 20px 0px;
  background: #f9f9f9;
  padding-left: 10px;
  min-height: 40px;
}
#schedule ul#event-list li.event h2.event-summary {
  margin: 0;
  padding-bottom: 3px;
}
#schedule ul#event-list li.event h2.event-summary:before {
  display: inline-block;
  font-family: FontAwesome;
  font-size: 8px;
  content: '\f111';
  vertical-align: middle;
  margin-right: 25px;
  color: #bbb;
}
#schedule ul#event-list li.event span.event-relative-time {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  padding-left: 12px;
  color: #bbb;
}
#schedule ul#event-list li.event span.event-details {
  display: block;
  color: #bbb;
  margin-left: 56px;
  padding-top: 3px;
  padding-bottom: 6px;
  text-indent: -24px;
  line-height: 18px;
}
#schedule ul#event-list li.event span.event-details:before {
  text-indent: 0;
  display: inline-block;
  width: 14px;
  font-family: FontAwesome;
  text-align: center;
  margin-right: 9px;
  color: #bbb;
}
#schedule ul#event-list li.event span.event-details.event-location:before {
  content: '\f041';
}
#schedule ul#event-list li.event span.event-details.event-duration:before {
  content: '\f017';
}
#schedule ul#event-list li.event-past {
  background: #fcfcfc;
}
#schedule ul#event-list li.event-past > * {
  opacity: 0.6;
}
#schedule ul#event-list li.event-past h2.event-summary {
  color: #bbb;
}
#schedule ul#event-list li.event-past h2.event-summary:before {
  color: #dfdfdf;
}
#schedule ul#event-list li.event-now {
  background: #222;
  color: #fff;
  padding: 15px 0 15px 10px;
}
#schedule ul#event-list li.event-now h2.event-summary:before {
  transform: scale(1.2);
  color: #fff;
  animation: dot-flash 1s alternate infinite ease-in-out;
}
#schedule ul#event-list li.event-now * {
  color: #fff !important;
}
@-moz-keyframes dot-flash {
  from {
    opacity: 1;
    transform: scale(1.1);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}
@-webkit-keyframes dot-flash {
  from {
    opacity: 1;
    transform: scale(1.1);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}
@-o-keyframes dot-flash {
  from {
    opacity: 1;
    transform: scale(1.1);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}
@keyframes dot-flash {
  from {
    opacity: 1;
    transform: scale(1.1);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}
.page-post-detail .sidebar-toggle-line {
  background: #87daff;
}
.page-post-detail .comments {
  overflow: hidden;
}
ul.breadcrumb {
  list-style: none;
  margin: 1em 0;
  padding: 0 2em;
  text-align: center;
  font-size: 12px;
}
ul.breadcrumb li {
  display: inline;
}
ul.breadcrumb li+li:before {
  padding: 0.5em;
  font-weight: normal;
  content: "/\00a0";
}
ul.breadcrumb li+li:last-child {
  font-weight: bold;
}
